@import url("https://fonts.googleapis.com/css2?family=Glory:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.glory {
 font-family: "Glory", sans-serif !important;
}
html {
  background-color: #2a3538;
}
#__next {
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

input {
  background-color: transparent;
}

.inputLight::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #eeeeee;
  opacity: 1; /* Firefox */
}


.grow {
  animation: grow 0.7s ease-in;
  animation-fill-mode: forwards;
}

@keyframes grow {
  0% {
   width: 58.33%
  }
 
  100% {
   width: 90%;
  }
 }

 .shrink {
  animation: shrink 0.7s ease-in;
  animation-fill-mode: forwards;
}

@keyframes shrink {
  0% {
   width: 90%
  }
 
  100% {
   width: 58.33%;
  }
 }

 .shrink2 {
  animation: shrink2 0.7s ease-in;
  animation-fill-mode: forwards;
}

@keyframes shrink2 {
  0% {
   width: 40%
  }
 
  100% {
   width: 10%;
  }
 }

 .grow2 {
  animation: grow2 0.7s ease-in;
  animation-fill-mode: forwards;
}

@keyframes grow2 {
  0% {
   width: 10%
  }
 
  100% {
   width: 40%;
  }
 }

.hideThis {
  animation: hidding 0.7s 0s 1 normal ease-in-out both running;
 }
 
 @keyframes hidding {
  0% {
   transform: translateX(0);
  }
 
  100% {
   opacity: 0;
   transform: translateX(-500%);
  }
 }

 .showThis {
  animation: showing 0.7s 0s 1 normal ease-in-out both running;
 }

 @keyframes showing {
  0% {
   opacity: 0;
   transform: translateX(-500%);
  }
 
  100% {
   opacity: 1;
   transform: translateX(0);
  }
 }

.fullpage-image {
  width: 100vw;
  height: 100vh;
  background-image: url('/Background.png');
  background-size: cover;
}

a {
  text-decoration: none;
}

.h-90 {
  height: 90%;
}

.h-95 {
  height: 95%;
}

.pageCont {
  width: 1216px;
  margin: auto;
  padding-top: 88px;
}

.arrow_up {
  width: 20px;
  height: 20px;
  animation: upAnimate .5s ease-in-out;
}

.arrow_down {
  width: 20px;
  height: 20px;
  animation: upAnimate .5s ease-in-out;
}

@keyframes upAnimate {
  from {
   transform: matrix(1, 0, 0, 0, 0, 0);
  }
  to {
    transform: matrix(1, 0, 0, -1, 0, 0);
  }
 }

body {
  height: 100vh;
}

.poppins {
 font-family: "Poppins", sans-serif;
}

.showcase {
 position: relative;
 width: 100%;
 height: 100vh;
 background: #1e292a;
 overflow: hidden;
}

.note {
  animation: noteAnimate .1s ease-in;
  z-index: 1;
}

@keyframes noteAnimate {
  from {
   transform: translateY(300px);
  }
  to {
   transform: translateY(0px);
  }
 }

.primary-shadow {
 box-shadow: 0px 5px 0px #805e00;
}

.secondary-shadow {
 box-shadow: 0px 5px 0px #006b83;
}

.medium-shadow-big {
 box-shadow: 0px 13px 0px #0f1415ff;
}

.follow-us img {
 padding: 0px 10px;
 transition: transform 0.2s ease-in-out;
 cursor: pointer;
}
.follow-us img:hover {
 transform: scale(1.2);
}

.moving-chart {
 animation: chartAnimate 20s linear infinite;
}

@keyframes chartAnimate {
 0% {
  transform: translateY(0);
 }

 100% {
  transform: translateY(-14.151%);
 }
}

.chart-width {
 width: 2px;
}
.chart-height {
 height: 2px;
}

.token {
 bottom: 0;
 z-index: 6;
 animation: tokenAnimate 10s linear infinite;
 transition: background-color 0.2s linear;
}

.tokenCont {
 overflow: hidden;
}

/* Ocean */

section .ocean {
 position: absolute;
 z-index: 0 !important;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 70px;
 background: #00a2c7;
 background-size: 1000px 100px;
 filter: blur(2px);
}

section .ocean-front {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 10px;
 background: #00c2ef;
 background-size: 1000px 100px;
 z-index: 6 !important;
}

section .wave {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 background: url(wavey.png);
 background-size: 1000px 100px;
 filter: blur(2px);
}

section .wave.wave1 {
 animation: animate 100s linear infinite;
 z-index: 3 !important;
 opacity: 1;
 animation-delay: 0s;
 bottom: 33px;
 height: 70px;
}

section .wave.wave2 {
 animation: animate2 90s linear infinite;
 z-index: 4 !important;
 opacity: 1;
 animation-delay: -7s;
 bottom: 22px;
 height: 80px;
}

section .wave.wave3 {
 animation: animate3 80s linear infinite;
 z-index: 5 !important;
 opacity: 1;
 animation-delay: -2s;
 bottom: 11px;
 height: 90px;
}

section .wave.wave4 {
 animation: animate4 70s linear infinite;
 z-index: 6 !important;
 opacity: 1;
 animation-delay: -5s;
 bottom: 0px;
 height: 100px;
}

section .low-1 {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 130px;
 background: rgba(146, 146, 146, 0.4);
 filter: blur(10px);
 background-size: 1000px 100px;
 z-index: 3 !important;
}

section .low-2 {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 130px;
 background: rgba(146, 146, 146, 0.3);
 filter: blur(20px);
 background-size: 1000px 100px;
 z-index: 4 !important;
}
section .low-3 {
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 130px;
 background: rgba(146, 146, 146, 0.2);
 filter: blur(20px);
 background-size: 1000px 100px;
 z-index: 5 !important;
}

@keyframes animate {
 0% {
  background-position-x: 0;
 }
 100% {
  background-position-x: 1000px;
 }
}

@keyframes animate2 {
 0% {
  background-position-x: 0;
 }
 100% {
  background-position-x: -1000px;
 }
}

@keyframes animate3 {
 0% {
  background-position-x: 0;
 }
 100% {
  background-position-x: 1000px;
 }
}

@keyframes animate4 {
 0% {
  background-position-x: 0;
 }
 100% {
  background-position-x: -1000px;
 }
}

.tokenCont {
 overflow: hidden;
 position: absolute;
 z-index: 6;
 height: 100vh;
 width: 100vw;
}

.over-tokens {
 z-index: 8;
 position: relative;
}

.token {
 position: absolute;
 cursor: default;
 animation: tokenAnimate 180s linear infinite;
 transition: background-color 0.2s linear;
}

@keyframes tokenAnimate {
 0% {
  transform: scale(0.5) translateY(0) rotate(0deg);
  opacity: 0;
  filter: blur(6px);
 }

 10% {
  opacity: 0.5;
  filter: blur(0px);
 }

 80% {
  opacity: 0.5;
 }

 100% {
  transform: scale(1) translateY(-15000%) rotate(0deg);
  opacity: 0.5;
 }
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}